.registerWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.outerRegister{
    width: 600px;
    height: max-content;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}