nav{
  display: flex;
  height:max-content;
  background-color: #2a4781;
  list-style: none;
  justify-content: space-between;
}
.navLeft{
  display: flex;
}
nav li{
  padding: 20px 0;
  background-color: #2a4781;
}
nav li a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 20px;
}